flows.json
[{"id":"6213540f.cd2ddc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"af6f652c.7ab808","type":"ui_form","z":"6213540f.cd2ddc","name":"","label":"Prediction Parameters","group":"eb710da4.be3f28","order":0,"width":"5","height":"6","options":[{"label":"preg","value":"pg","type":"number","required":true,"rows":null},{"label":"plas","value":"pl","type":"number","required":true,"rows":null},{"label":"pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"test","value":"tt","type":"number","required":true,"rows":null},{"label":"mass","value":"ms","type":"number","required":true,"rows":null},{"label":"pedi","value":"pd","type":"number","required":true,"rows":null},{"label":"age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pg":"","pl":"","pr":"","sk":"","tt":"","ms":"","pd":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":460,"wires":[["7b1cc748.fefeb"]],"icon":"node-red-node-watson/discovery.png"},{"id":"7b1cc748.fefeb","type":"function","z":"6213540f.cd2ddc","name":"PreToken","func":"global.set(\"pg\",msg.payload.pg)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"tt\",msg.payload.tt)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"pd\",msg.payload.pd)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"ZwAaPN2bMpidAmxwuR5qIsK3UVGlAjEc_xZBl5GGEf7Y\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":320,"wires":[["44f00d89.aa8a24"]]},{"id":"44f00d89.aa8a24","type":"http request","z":"6213540f.cd2ddc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":380,"wires":[["97be7c3.c320a8"]]},{"id":"ab896216.8f5ca8","type":"inject","z":"6213540f.cd2ddc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":180,"wires":[["7b1cc748.fefeb"]]},{"id":"aa1b53b8.f4c45","type":"debug","z":"6213540f.cd2ddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":180,"wires":[]},{"id":"97be7c3.c320a8","type":"function","z":"6213540f.cd2ddc","name":"Pre Prediction","func":"var pg = global.get('pg')\nvar pl = global.get('pl')\nvar pr = global.get('pr')\nvar sk = global.get('sk')\nvar tt = global.get('tt')\nvar ms = global.get('ms')\nvar pd = global.get('pd')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"748924ca-e407-4984-8cbc-f72edb732ac7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"], \"values\": [[pg,pl,pr,sk,tt,ms,pd,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":160,"wires":[["9ace641b.63cbb8"]]},{"id":"9ace641b.63cbb8","type":"http request","z":"6213540f.cd2ddc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/169eef41-247e-4b27-9e83-bb2989562680/predictions","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":400,"wires":[["293ace90.ed3342","c8c3e2c.43d81a"]]},{"id":"b1777350.88512","type":"ui_text","z":"6213540f.cd2ddc","group":"eb710da4.be3f28","order":1,"width":0,"height":0,"name":"class","label":"Class","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":420,"wires":[]},{"id":"293ace90.ed3342","type":"function","z":"6213540f.cd2ddc","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":320,"wires":[["aa1b53b8.f4c45","b1777350.88512"]]},{"id":"c8c3e2c.43d81a","type":"debug","z":"6213540f.cd2ddc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":480,"wires":[]},{"id":"eb710da4.be3f28","type":"ui_group","z":"","name":"NODERED UI (Diabetic_Mellitus)","tab":"4c4340cf.890398","order":1,"disp":true,"width":"6","collapse":false},{"id":"4c4340cf.890398","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]